<div class="container">

  <%= simple_form_for [ @list ] , :html => { :class => "form form-horizontal"  } do |f| %>

    <div class="form-group">
      <div class="col-sm-4">
        <%= f.input :ip, :label => "IP位址", disabled: true%>
        <%= f.input :category, :label => "使用類別" %>
        <%= f.input :user_name, :label => "使用者" %>
        <%= f.input :phone_number, :label => "分機" %>
        <%= f.input :mac_address, :label => "MAC位址" %>
        <%= f.input :location, :label => "網路孔" %>
      </div>
      <div class="col-sm-10">
        <%= f.input :description, :as => :text, :label => "備註說明" %>
      </div>
    </div>

    <div class="form-group">
      <div class="pull-left" style="padding-bottom: 20px;">
        <%= f.submit "送出", :class => "btn btn-default" , :disable_with => 'Submiting...' %>
      </div>
    </div>

  <% end %>
</div>
