<h2> TBD </h2>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>IP位址</th>
      <th>使用類別</th>
      <th>使用者</th>
      <th width="50">分機</th>
      <th width="150">MAC位址</th>
      <th width="80">網路孔</th>
      <th>備註說明</th>
      <th width="100">修改者</th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td>
           <%= list.ip %>
        </td>

        <td>
          <%= list.category %>
        </td>

        <td>
          <%= list.user_name %>
        </td>

        <td>
          <%= list.phone_number %>
        </td>

        <td>
          <%= list.mac_address %>
        </td>

        <td>
          <%= list.location %>
        </td>

        <td>
          <%= list.description %>
        </td>

        <td>
          <%= list.last_update_user %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
