<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">192.168.8.0 IP 管理</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <% if current_user %>
      <ul class="nav navbar-nav">
        <li>
          <%= link_to("歷史紀錄", histories_path) %>
        </li>
      </ul>
      <% end %>

      <ul class="nav navbar-nav navbar-right">

        <% if !current_user %>
          <li> <%= link_to("登入", new_user_session_path) %> </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Hi!, <%= current_user.name %>
              <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li> <%= link_to("管理者", admin_lists_path )%></li>
              <% end %>
              <li>
                 <%= link_to("帳號維護", edit_user_registration_path )%>
               </li>
            </ul>
          </li>
          <li>
            <%= link_to("登出", destroy_user_session_path, :method => :delete ) %>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
